@import 'tailwindcss';

@font-face {
  font-family: "Jetbrains";
  src: url(/assets/JetBrainsMono-Regular.woff2);
}
@font-face{
  font-family: "Satoshi";
  src: url(/assets/Satoshi-Variable.woff2);
}
@theme{
  --accent:var(--color-red-600)
}
body {
  font-family: "Satoshi", sans-serif, system-ui;
}
h1,h2,h3,h4 {
  font-family: "Jetbrains", monospace;
}
a{
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
}